@import '../../variable.scss';
@import './PersonalInformation/index';
@import './EmployementHistory/index';
@import './EducationQualification/index';
@import './UploadDocuments/index';

#candiate-container {
    margin: 0 auto;
    width: 80%;
    text-align: justify;
    .sections-container {        
        height: 90vh;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    h2 {
        text-align: center;
    }    
    
    .file {
        cursor: pointer;
        height: 24px;
        width: 24px;
    }
}