$color:              darkblue;
$primary-color   :   #fff;
$secondary-color :   goldenrod;
$bold            :     600;     
$headingSize     :     1.1rem;
$normal          :     1rem;
$border          :     1px solid grey;
